Templates(
    entities: [
        Template(
            id: 1,
            entity_type: SkillCard,
            level: 1,
            name: "Arrow of dead",
            sprite_index: Some(0),
            mana_cost: Some(4),
            value: Some(2),
            rounds: Some(1),
            card_action: Some(AttackBuff),
            sub_sprite_index: Some(12)
        ),
        Template(
            id: 2,
            entity_type: SkillCard,
            level: 1,
            name: "Death rain",
            sprite_index: Some(1),
            mana_cost: Some(4),
            value: Some(2),
            rounds: Some(1),
            card_action: Some(AttackBuff),
            sub_sprite_index: Some(12)
        ),
        Template(
            id: 3,
            entity_type: SkillCard,
            level: 1,
            name: "Dark ignate",
            sprite_index: Some(2),
            mana_cost: Some(2),
            value: Some(1),
            rounds: Some(0),
            card_action: Some(AttackBuff),
            sub_sprite_index: Some(3)
        ),
        Template(
            id: 4,
            entity_type: SkillCard,
            level: 1,
            name: "Dark matter",
            sprite_index: Some(3),
            mana_cost: Some(2),
            value: Some(1),
            rounds: Some(0),
            card_action: Some(ManaBuff),
            sub_sprite_index: Some(2)
        ),
        Template(
            id: 5,
            entity_type: SkillCard,
            level: 1,
            name: "Magic shield",
            sprite_index: Some(4),
            mana_cost: Some(2),
            value: Some(1),
            rounds: Some(0),
            card_action: Some(DefenceBuff),
            sub_sprite_index: Some(4)
        ),
        Template(
            id: 6,
            entity_type: SkillCard,
            level: 1,
            name: "Soul bottle",
            sprite_index: Some(5),
            mana_cost: Some(2),
            value: Some(1),
            rounds: Some(1),
            card_action: Some(HealthBuff),
            sub_sprite_index: Some(5)
        ),
        Template(
            id: 7,
            entity_type: SkillCard,
            level: 2,
            name: "Death flux",
            sprite_index: Some(6),
            mana_cost: Some(6),
            value: Some(3),
            rounds: Some(1),
            card_action: Some(AttackBuff),
            sub_sprite_index: Some(0)
        ),
        Template(
            id: 8,
            entity_type: SkillCard,
            level: 2,
            name: "Dark ball",
            sprite_index: Some(7),
            mana_cost: Some(6),
            value: Some(3),
            rounds: Some(1),
            card_action: Some(AttackBuff),
            sub_sprite_index: Some(0)
        ),
        Template(
            id: 9,
            entity_type: SkillCard,
            level: 1,
            name: "Magic Armore",
            sprite_index: Some(8),
            mana_cost: Some(4),
            value: Some(2),
            rounds: Some(0),
            card_action: Some(DefenceBuff),
            sub_sprite_index: Some(7)
        ),
        Template(
            id: 10,
            entity_type: SkillCard,
            level: 1,
            name: "Soul flux",
            sprite_index: Some(9),
            mana_cost: Some(4),
            value: Some(2),
            rounds: Some(1),
            card_action: Some(HealthBuff),
            sub_sprite_index: Some(6)
        ),
        Template(
            id: 11,
            entity_type: SkillCard,
            level: 2,
            name: "Fear",
            sprite_index: Some(10),
            mana_cost: Some(6),
            value: Some(0),
            rounds: Some(1),
            card_action: Some(Special),
            sub_sprite_index: Some(8)
        ),
        Template(
            id: 12,
            entity_type: SkillCard,
            level: 2,
            name: "Magic rune",
            sprite_index: Some(11),
            mana_cost: Some(6),
            value: Some(2),
            rounds: Some(0),
            card_action: Some(ManaBuff),
            sub_sprite_index: Some(11)
        ),
        Template(
            id: 13,
            entity_type: SkillCard,
            level: 3,
            name: "Blast",
            sprite_index: Some(12),
            mana_cost: Some(10),
            value: Some(5),
            rounds: Some(1),
            card_action: Some(AttackBuff),
            sub_sprite_index: Some(1)
        ),
        Template(
            id: 14,
            entity_type: SkillCard,
            level: 3,
            name: "Black hole",
            sprite_index: Some(13),
            mana_cost: Some(10),
            value: Some(5),
            rounds: Some(1),
            card_action: Some(AttackBuff),
            sub_sprite_index: Some(1)
        ),
        Template(
            id: 15,
            entity_type: SkillCard,
            level: 3,
            name: "Spirit Seance",
            sprite_index: Some(14),
            mana_cost: Some(10),
            value: Some(0),
            rounds: Some(0),
            card_action: Some(Special),
            sub_sprite_index: Some(9)
        ),
        Template(
            id: 16,
            entity_type: SkillCard,
            level: 3,
            name: "Takeover",
            sprite_index: Some(15),
            mana_cost: Some(10),
            value: Some(1),
            rounds: Some(1),
            card_action: Some(Special),
            sub_sprite_index: Some(10)
        ),
        //----------------------
        Template(
            id: 15,
            entity_type: Enemy,
            level: 1,
            name: "Lizard",
            health: Some(10),
            attack: Some(3),
            defense: Some(3)
        ),
        Template(
            id: 16,
            entity_type: Enemy,
            level: 1,
            name: "Meduza",
            health: Some(8),
            attack: Some(5),
            defense: Some(2)
        ),
        Template(
            id: 17,
            entity_type: Enemy,
            level: 2,
            name: "Small dragon",
            health: Some(15),
            attack: Some(3),
            defense: Some(5)
        ),
        Template(
            id: 18,
            entity_type: Enemy,
            level: 2,
            name: "Spirit",
            health: Some(15),
            attack: Some(5),
            defense: Some(3)
        ),
        Template(
            id: 19,
            entity_type: Enemy,
            level: 3,
            name: "Big dragon",
            health: Some(20),
            attack: Some(5),
            defense: Some(10)
        ),
        Template(
            id: 20,
            entity_type: Enemy,
            level: 3,
            name: "Demon",
            health: Some(15),
            attack: Some(7),
            defense: Some(5)
        ),

        //------------------------
        Template(
            id: 21,
            entity_type: Item,
            level: 3,
            name: "High armore",
            sprite_index: Some(0),
            value: Some(5),
            card_action: Some(DefenceBuff),
        ),
        Template(
            id: 22,
            entity_type: Item,
            level: 3,
            name: "High dagger",
            sprite_index: Some(1),
            value: Some(5),
            card_action: Some(AttackBuff),
        ),
        Template(
            id: 23,
            entity_type: Item,
            level: 3,
            name: "High staff",
            sprite_index: Some(2),
            value: Some(5),
            card_action: Some(ManaBuff),
        ),
        Template(
            id: 24,
            entity_type: Item,
            level: 1,
            name: "Low armore",
            sprite_index: Some(3),
            value: Some(1),
            card_action: Some(DefenceBuff),
        ),
        Template(
            id: 25,
            entity_type: Item,
            level: 1,
            name: "Low dagger",
            sprite_index: Some(4),
            value: Some(1),
            card_action: Some(AttackBuff),
        ),
        Template(
            id: 26,
            entity_type: Item,
            level: 1,
            name: "Low staff",
            sprite_index: Some(5),
            value: Some(1),
            card_action: Some(ManaBuff),
        ),
        Template(
            id: 27,
            entity_type: Item,
            level: 2,
            name: "Middle armore",
            sprite_index: Some(6),
            value: Some(3),
            card_action: Some(DefenceBuff),
        ),
        Template(
            id: 28,
            entity_type: Item,
            level: 2,
            name: "Middle cloak",
            sprite_index: Some(7),
            value: Some(1),
            card_action: Some(HealthBuff),
        ),
        Template(
            id: 29,
            entity_type: Item,
            level: 2,
            name: "Middle dagger",
            sprite_index: Some(8),
            value: Some(3),
            card_action: Some(AttackBuff),
        ),
        Template(
            id: 30,
            entity_type: Item,
            level: 2,
            name: "Middle staff",
            sprite_index: Some(9),
            value: Some(3),
            card_action: Some(ManaBuff),
        ),
    ],
)